*{
    margin: 0 auto;
    padding: 0;
}
.navbar{
    font-size: 16px;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.navbar-light .navbar-nav .nav-link{
    padding: 20px;
    color: black;
    transition: 0.3s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active {
    color: rgb(171, 177, 171);
}
.carousel-item{
    background-color: #f8f9fa;
}
.carousel-control-prev-icon{
    background-image: url(arrow-left-circle.svg);
    margin-left: -50px;
}
.carousel-control-next-icon{
    background-image: url(arrow-right-circle.svg);
    margin-right: -50px;
}
.ChannelName{
    font-size: 15px;
    color: 5d5d5d;
    font-weight: 500;
    margin-bottom: -2px;
}
.card{
    width: 18rem;
}
.card > card-body{
    height: 5rem;
}
.Footer{
    background-color: rgb(230, 227, 227);
    height: 20rem;
}

#contact {
    width: 100%;
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 0;
  }